{% extends 'base.html' %}


{% block title %}
    <title>bem vindo</title>
{% endblock title %}

{% block content %}
    <section class="container">
        <div class="row">
            <div class="main" align="center">
              
            </div>
        </div>
    </section>
{% endblock content %}
