<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock %}">
    {% block title %}
    <title></title>
    {% endblock title %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>

    <!-- include header -->
    {% include 'includes/_header.html'%}
    <!-- end header -->
    
    <!-- content -->
    {% block content %}{% endblock content %}
    <!-- end content -->

    <!-- include paginate -->
    {% include 'includes/_paginate.html'%}
    <!-- end paginate -->

    <!-- include footer -->
    {% include 'includes/_footer.html'%}
    <!-- end footer -->

</body>
</html>
