<footer class="footer">
    <div class="container">
        <div>
            <p>api &copy; 2017 &middot; all righs reserved <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank"></a></p>
        </div>
    </div>
</footer>